@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    display: flex;
    margin: 0;
    color: #333;
    background: url("https://img.freepik.com/free-vector/abstract-wavy-patterned-background-vector_53876-177387.jpg?semt=ais_hybrid");
    font-family: "Poppins", sans-serif;
    background-blend-mode: overlay;
    background-color: rgb(0, 0, 0,0.2);
}
#container{
    display: flex;
    flex-direction: column;
    width: 70em;
    background: white;
    padding: 0 1.5em 0em 1.5em;
    margin: auto;
    box-shadow: 0em 0em 5em #74a661;
}
/*Шапка*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}
.logo{
    display: flex;
    height: calc(2.2em + 0.6vw);
    width: auto;
}
.but-block{
    display: flex;
    justify-content: space-between;
    width: 19em;
    margin-top: 1em;
    margin-right: 2em;
}
a{
    color: #5D6D7E;
    text-decoration: none;
}
.but-block a{
    font-size: 0.95em;
    font-weight: 600;
    cursor: pointer;
}
.but-block #about{
    display: flex;
    padding: 0.4em 1.7em;
    color: white;
    border-radius: 10em;
    background: #98D87F;
    border: none;
    transition: background 0.3s;
}
.but-block #about:hover{
    background: #48ff00;
}
.but-block #contacts{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: #b1b2b4;
    transition: color 0.3s;
}
.but-block #contacts:hover{
    color: #5D6D7E;
}
#burger-menu-but{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: none;
    border: none;
    height: 3em;
    width: 4em;
    margin-top: 1.25em;
}
#burger-menu-but svg{
    display: flex;
    height: auto;
    width: 100%;
}
#burger-menu{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1.7em;
    width: 100%;
    padding: 2em 0;
    border-bottom: 0.05em solid #b1b2b4;
}
#burger-menu a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 700;
    column-gap: 0.6em;
    color: #8a8a8a;
}
#burger-menu a svg{
    height: 1.4em;
}
/*Блок тегов*/
.tags-block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 0.5em;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.tags-block a{
    font-size: 0.96em;
}
.tags-block a:hover{
    text-decoration: underline;
}
/*Блок мемов*/
.memes-cont{
    display: flex;
    justify-content: space-between;
}
.famous-memes-block{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.famous-memes-block h1{
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    font-size: calc(1.1em + 1vw);
    width: 100%;
    margin: 0;
    padding: 0.67em 0;
}
.famous-memes-block h1 svg{
    height: auto;
    width: calc(1em + 0.3vw);
}
.famous-memes-block h1 svg path{
    fill: #DD4B25;
}
.memes-list{
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0;
    row-gap: 1em;
}
.memes-list li{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 0.5em;
    border-bottom: 0.05em solid rgb(225, 225, 225);
}
#hide1,#hide2,#hide3,#hide4{
    display: none;
}
#arrow {
    transform: rotate(80deg);
}
.memes-list li img{
    display: flex;
    height: calc(2.5vw + 4em);
    width: auto;
    border-radius: 0.6vh;
} 
.memes-list li .text-block{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: calc(0.5em + 0.3vw);
    width: 45%;
    padding: 0.1vw calc(0.6em + 1vw);
}
.memes-list li .text-block p{
    display: flex;
    align-items: center;
    column-gap: 1em;
    margin: 0;
    font-weight: 600;
    font-size: calc(0.3vw + 0.8em);
}
.memes-list li .text-block a{
    display: flex;
    font-size: calc(0.1vw + 0.6em);
    padding: calc(0.15vw + 0.3em) calc(0.5vw + 1em);
    background: #98D87F;
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 0.4em;
    transition: background 0.3s;
    cursor: pointer;
}
.memes-list li .text-block a:hover{
    background: #48ff00;
}
.more-but-block button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(0.1vw + 0.8em);
    cursor: pointer;
    color: #8a8a8a;
    height: 2em;
    background: white;
    box-shadow: 0em -1.8em 0em rgb(255, 255, 255);
    border: none;
    width: 100%;
}
.more-but-block button svg{
    height: 80%;
}
.search-of-data-block{
    display: flex;
    width: 25%;
    flex-direction: column;
    border-left: 0.05em solid rgb(235, 235, 235);
}
.data-list{
    padding: 0;
    list-style: none;
    padding-left: 2vw;
}
.data-list li a{
    display: flex;
    column-gap: 1em;
    align-items: center;
    padding: 0.5em 0em 0.5em 1.5em;
    border-bottom: 0.05em solid rgb(225, 225, 225);
}
.data-list li a svg{
    display: flex;
    height: auto;
    width: 1.3em;
}
.data-list .html:hover path{
    fill:#DD4B25;
}
.data-list .html:hover  a{
    color:#DD4B25;
}
.data-list .css:hover path{
    fill:#254BDD;
}
.data-list .css:hover a{
    color:#254BDD;
}
.data-list .js:hover path{
    fill:#efa91d;
}
.data-list .js:hover a{
    color:#efa91d;
}
.data-list h2{
    display: flex;
    font-size: calc(1.2em + 0.05vw);
}
/*Подвал сайта*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2em;
    column-gap: 1em;
    width: 100%;
    padding: 0em 0em;
    background: #333;
    border-top-left-radius: calc(0.5vw + 0.5em);
    border-top-right-radius: calc(0.5vw + 0.5em);
    border: 0.05em solid rgb(225, 225, 225);
}
footer h2{
    font-size:  calc(0.5vw + 1em);
    display: flex;
    justify-content: center;
    color: white;
}
footer a{
    display: flex;
    align-items: center;
    font-size: calc(0.8em + 0.2vw);
    column-gap: 0.5em;
    color: #c5c5c5;
}
footer a svg{
    height: calc(1.7em + 0.2vw);
    width: auto;
}
footer p{
    color: white;
    font-size: calc(0.8em + 0.1vw);
}





@media (max-width: 768px) {
    .logo{
        margin-top: 0.3em;
    }
    .memes-cont{
        flex-direction: column;
    }
    .famous-memes-block{
        width: 100%;
    }
    .search-of-data-block{
        width: 100%;
    }
    .but-block{
        display: none;
    }
    .search-of-data-block{
        border: none;
    }
    .data-list{
        padding: 0;
    }
    .data-list h2{
        justify-content: center;
    }
    #container{
        padding: 0 0.8em 0em 0.8em;
    }
    footer{
        row-gap: 1em;
        padding: 0em 0.5em;
        width: 95%;
        display: flex;
        justify-content: center;
        padding-bottom: 1.5em;
    }
    footer h2{
        width: 100%;
    }
}
@media (min-width: 768px) {
    #burger-menu-but{
        display: none;
    }
    .header{
        margin-top: 1em;
        margin-bottom: 2em;
    }
    #hide1,#hide2,#hide3,#hide4{
        display: flex;
    }
    .more-but-block #more{
        display: none;
    }
    #container{
        padding: 0em 2em 0em 2em;
    }
    #hide4{
        border: none;
    }
    .data-list li a{
        justify-content: start;
        padding-left: 0em;
    }
    footer p{
        margin-left: 5em;
    }
}